<!-- {{contact_form.as_p}}
<br/>
{{contact_form2.as_p}} -->

<!--{{ contact_form.as_p }} Premiere version de contact -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Ajout d'une tache</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'LesTaches/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'LesTaches/main.css' %}">
	</head>
	<body>
		<form class="form-horizontal" actions="/LesTaches/" method="post">{% csrf_token %}
			{{ form.as_p }}
			<input type="submit">
		</form>
	</body>
</html>
