.<!DOCTYPE html>
<html lang="fr" >
	<head>
		<meta charset="utf-8" >
		<title>
		Liste des taches
		</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'LesTaches/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'LesTaches/main.css' %}">
	</head>
	<body>
		<header>
			<h2> Gestionnaires de Tache </h2>
		</header>
		<br/>
		<section class="container">
			<form name="formulaire" class="" action="ajout" method="get">{% csrf_token %}
			{% block content %}
			<table class="table table-striped">
				<tr>
					<th>Supprimer</th>
					<th>Modifier</th>
					<th>Name</th>
					<th>Description</th>
					<th>Created date</th>
					<th>Schedule date</th>
					<th>Due date</th>
					<th>Closed</th>
				</tr>
				{% for elem in objets %}
				<tr>
					<td><a href="delete/{{elem.id}}">Supprimer</a></td>
					<td><a href="maj/{{elem.id}}">Modifier</a></td>
					<td>{{elem.name}}</td>
					<td>{{elem.description}}</td>
					<td>{{elem.created_date}}</td>
					<td>{{elem.schedule_date}}</td>
					<td>{{elem.colored_due_date}}</td>
					<td>{{elem.closed}}</td>
				</tr>
				{%endfor%}
			</table>
			{% endblock %}
				<span><input type="submit" name="Ajouter" value="Ajouter" class="btn btn-success"></span>
			</form>
		</section>
		<footer>
	</footer>
	</body>
</html>
