<!-- {{contact_form.as_p}}
<br/>
{{contact_form2.as_p}} -->

<!--{{ contact_form.as_p }} Premiere version de contact -->

<form class="pure-form" actions="/Contacts/" method="post">{% csrf_token %}
	{{ form.as_p }}
	<input type="submit">
</form>
